main {
    width: 100%;
    height: 100%;
    background-color: #DAFBFF;
}

.aboutUs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

div.part1 {
    width: 65%;
    height: 140vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.aboutUs h2 {
    font-size: 4em;
    text-align: center;
}

.aboutUs p {
    width: 80%;
    font-size: 1.5em;
    padding: 3% 0;
    letter-spacing: 1.1px;
    text-align: center;
}

.aboutUs img {
    width: 60%;
    border-radius: 20px;
}