main {
    width: 100%;
    min-height: 100vh;
    background-color: #DAFBFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminLogin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminLogin form {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.adminLogin form input {
    width: 80%;
    padding: 2%;
    margin: 1% 0;
    font-size: 1.5em;
}

.adminLogin form input[type="submit"] {
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .adminLogin form input {
        font-size: 1em;
    }
}

@media screen and (max-width: 750px){
    .adminLogin form input {
        font-size: .8em;
    }
}

@media screen and (max-width: 500px){
    .adminLogin form input {
        font-size: .4em;
    }
}