header {
    width: 100%;
    background-color: #ADEEF6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5% 0;
    border-bottom: 1px solid black;
    position: relative;
}

.header {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}

.title h1 {
    color: black;
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
}

ul.links {
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

ul.links li {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.links li:hover {
    margin-top: -3%;
    transition: all .2s;
}

ul.links li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.links li a img{
    width: 100%;
}

a.adminLog {
    width: 3%;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.adminLog img {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADEEF6;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav {
    width: 50%;
}

.nav ul.navMenu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.nav ul.navMenu li.navItem {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav ul.navMenu li.navItem.A:hover ul.aboutMenu {
    min-width: 100%;
    opacity: 1;
}

.nav ul.navMenu li.navItem.E:hover ul.education {
    min-width: 100%;
    opacity: 1;
}

.nav ul.navMenu li.navItem a {
    font-size: 2em;
    color: black;
}

ul.aboutMenu, ul.education {
    max-width: 0px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48px;
    opacity: 0;
}

ul.aboutMenu li, ul.education li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ADEEF6;
    margin-bottom: 0.5%;
}

ul.aboutMenu li a, ul.education li a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

