header {
    width: 100%;
    background-color: #ADEEF6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5% 0;
    border-bottom: 1px solid black;
}

.header {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}

.title h1 {
    color: black;
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
}

ul.links {
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

ul.links li {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.links li:hover {
    margin-top: -3%;
    transition: all .2s;
}

ul.links li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.links li a img{
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADEEF6;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.nav {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    font-size: 2em;
    color: black;
}