header {
    width: 100%;
    background-color: #ADEEF6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

.title h1 {
    color: black;
    text-align: center;
    font-size: 5em;
    font-weight: lighter;
}

ul.links {
    width: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

ul.links li {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.links li:hover {
    margin-top: -3%;
    transition: all .2s;
}

ul.links li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.links li a img{
    width: 100%;
}