main {
    height: 100%;
    width: 100%;
    background-color: #DAFBFF;
}

.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    width: 100%;
}

.aboutUsInfo {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.aboutUsInfo h2 {
    font-size: 3.5em;
    padding-bottom: 5%;
}

.aboutUsInfo h2 a {
    color: black;
}

.aboutUsInfo p {
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1.1px;
}

.itemsMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.items {
    width: 50%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.items li {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADEEF6;
    border-radius: 50px;
}

.items li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: relative;
}

.items li a:hover {
    background-color: rgba(0, 0, 0, .5);
}

.items li a p {
    text-align: center;
    position: absolute;
    max-width: 0px;
    overflow: hidden;
    color: white;
    font-size: 2.5em;
}

.items li a:hover p {
    min-width: 100%;
}

.items li a img {
    width: 50%;
}

.swiper-container {
    width: 50%;
    height: 70vh;
    margin-bottom: 3%;
}

.swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    height: 95%;
    border-radius: 10px;
}

@media screen and (max-width: 1500px){
    .items li, .items li a {
        border-radius: 40px;
    }
}

@media screen and (max-width: 1000px){
    .items li, .items li a {
        border-radius: 30px;
    }
    .items li a p {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 750px){
    .items li, .items li a {
        border-radius: 20px;
    }
    .items li a p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px){
    .items li, .items li a {
        border-radius: 15px;
    }
    .items li a p {
        font-size: 1em;
    }
}